<!DOCTYPE html>
<html>
<head><title>Admin Panel</title></head>
<body>
<h2>Add Product</h2>
<form action="/add-product" method="POST">
    Name: <input name="name"><br>
    Price: <input name="price"><br>
    Description: <input name="description"><br>
    <button type="submit">Add Product</button>
</form>

<h2>Add Service</h2>
<form action="/add-service" method="POST">
    Name: <input name="name"><br>
    Price: <input name="price"><br>
    Description: <input name="description"><br>
    <button type="submit">Add Service</button>
</form>
</body>
</html>