<!DOCTYPE html>
<html>
<head>
    <title>Luxury Car & Posh Products</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Luxury Car & Posh Products</h1>
    <a href="/services">Explore Services</a> | <a href="/products">Shop Products</a>
</body>
</html>